/*---------------------imagenes---------------------*/

.col-sm-4{
	height: 100vh;
	max-height: 100vh;
}
.primero{
	background-image: url(https://i.pinimg.com/736x/6f/b8/3e/6fb83e42cb5bc2e93aa04954ded7bfcb.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center;
}
.segundo{
	background-image: url(https://i.pinimg.com/564x/37/78/75/37787592a85c4c5f342e68b6954b714d.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.tercero{
	background-image: url(https://i.pinimg.com/736x/e8/b4/fb/e8b4fbf12b4b4bbf8a1b4620a003c344.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
}

/*---------------------titulo---------------------*/

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
.first_title{
	color: rgb(255, 255, 255);
	font-size: 3em;
	font-weight: 730;
}
.row {
    position: relative;
    z-index: 0;
}

/*---------------------segunda parte---------------------*/

.imagenes_modal{
    margin: 2em;
}
.modals_docu{
	position: relative;
    display: inline-block;
}
.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el botón esté encima de la imagen */
}

.modal_img_docu{
	width: 300px; /* Ancho fijo del div */
    height: 200px; /* Altura fija del div */
    border: 6px solid #000; /* Puedes agregar un borde para visualización */
    overflow: hidden;
}
.modal_img_docu img{
	width: 100%; /* Establece el ancho de la imagen al 100% del div */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    max-width: 100%; /* La imagen no excederá el ancho del div */
    max-height: 100%; /* La imagen no excederá la altura del div */
    object-fit: cover; 
}
